
cleaning_script.txt
predictions/pdf/Fagu_Gran_GCM_hadley_PC5.pdf
workspaces/06 - ccsm predictions
workspaces/06 - ecbilt predictions
workspaces/06 - hadley predictions
workspaces/06 - predictions (ccsm)
workspaces/06 - predictions (ecbilt)
workspaces/06 - predictions (hadley)
workspaces/07 - analyses, biotic velocity
workspaces/07 - ccsm genus merge
workspaces/07 - ecbilt genus merge
workspaces/07 - hadley genus merge
